@media (min-width: 1400px) {
  text-decoration {
  }
}

a {
}

a {
  text-decoration: none;
}

element.style {
  background: none;
}

section {
  background: black;
}

@media (min-width: 768px) {
  section {
    background: #000;
  }
}

div {
}

